<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{user.username}}</h1>
    <a href="{% url 'blog:logout' %}">logout</a>
    <!-- Create blog post -->
    <h1>Create a post:</h1>
    <form action="{% url 'blog:post'%}", method="POST">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="body">Body:</label><br>
        <textarea name="body" id="body" cols="100" rows="40"></textarea>
        <br><br>
        <input type="submit" value="Post">
    </form>
    <!-- Shows list of all blog posts, delete option available-->
    
    {% for post in user_posts %}
    <ul style="list-style-type:none">
        <li>
            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
        </li>
    </ul>
    {% endfor %}
    </ul>
    
    
    
</body>
</html>