<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{user.username}}</h1>
    <a href="{% url 'blog:logout' %}">logout</a>
    <!-- Create blog post -->
    <form action="{% url 'blog:createPost'%}">
        <button>Create a post</button>
    </form>
    <!-- Shows list of all blog posts, delete option available-->
    
    {% for post in user_posts %}
    <ul style="list-style-type:none">
        <li>
            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
        </li>
    </ul>
    {% endfor %}
    </ul>
    
    
    
</body>
</html>