<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    LOGIN
    
    <form action="{% url 'blog:verify'%}", method="POST">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{uName}}"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" ><br><br>
        <input type="submit" value="Submit">
    </form> 
      <a href="{% url 'blog:signup'%}">sign up here</a>
</body>
</html>